{% extends "base.html" %}
	{% block titulo %}Sigec - Clientes{% endblock %}

{% block content %}
<hr>
<a href="/clientes/add_cliente">Adicionar Cliente</a>
<hr>
<table class="table">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Tipo</th>
			<th>CPF/CNPJ</th>
			<th>Nome Contato</th>
			<th>Telefone</th>
			<th>E-mail</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{%for cliente in clientes%}
		<tr>	
			<td><a href="/clientes/{{cliente.id}}/info_cliente">{{cliente.nome}}</a></td>
			{% if cliente.clientepf %}
			<td>Pessoa Física</td>
			<td>{{cliente.clientepf.cpf}}</td>
			{% elif cliente.clientepj%}
			<td>Pessoa Juridica</td>
			<td>{{cliente.clientepj.cnpj}}</td>
			{% endif %}
			<td>{{cliente.clientepj.responsavel|default:"-----"}}</td>
			<td>{{cliente.contato.tel_celular}}</td>
			<td>{{cliente.contato.email}}</td>
			<td><a href="/clientes/{{cliente.id}}/delete_cliente">Remover</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}