{% extends "base.html" %}
	{% block titulo %}Sigec - Clientes{% endblock %}

{% block content %}
<h1>ADD CLIENTE</h1>

<form action="/clientes/add_cliente" method="post"> {% csrf_token %}

<input type="radio" name="tipo_cliente" value="pf"> Pessoa Física
<input type="radio" name="tipo_cliente" value="pj"> Pessoa Juridica


<button type="submit" class="btn btn-primary" >Avançar</button>
<a href="/clientes"><button type="button" class="btn btn-primary" >Cancelar</button></a>

</form>
{% endblock %}