{% extends "base.html" %}
	{% block titulo %}Sigec - Funcionario{% endblock %}

{% block content %}
<hr>
<a href="/funcionarios/add_funcionario">Adicionar Funcionario</a>
<hr>
<table class="table">
	<thead>
		<tr>
			<th>Nome</th>
			<th>CPF</th>
			<th>Telefone</th>
			<th>E-mail</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{%for funcionario in funcionarios%}
		<tr>	
			<td><a href="/funcionarios/{{funcionario.id}}/info_funcionario">{{funcionario.user.first_name}}</a></td>
			<td>{{funcionario.cpf}}</td>
			<td>{{funcionario.contato.telefone}}</td>
			<td>{{funcionario.contato.email}}</td>
			<td><a href="/funcionarios/{{funcionario.id}}/delete_funcionario">Remover</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}