{% extends "base.html" %}
	{% block titulo %}Sigec{% endblock %}

{% block content %}
<div class="row">
<h2>Chamados abertos</h2>
<table class="table">
  <tr>
    <th>Column 1 Heading</th>
    <th>Column 2 Heading</th>
     <th>Column 1 Heading</th>
    <th>Column 2 Heading</th>
     <th>Column 1 Heading</th>
    <th>Column 2 Heading</th>
  </tr>
  <tr>
    <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
     <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
     <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
  </tr>
    <tr>
    <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
     <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
     <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
  </tr>
    <tr>
    <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
     <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
     <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
  </tr>
    <tr>
    <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
     <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
     <td>Row 1: Col 1</td>
    <td>Row 1: Col 2</td>
  </tr>
</table>
</div>
{% endblock %}

